[tool.black]
line-length = 120
target-version = ["py312"]
skip-string-normalization = false
extend-exclude = '''
/(
  # directories
  \.venv
  | \.tox
  | dist
  | build
)/
'''

[tool.isort]
profile = "black"
line_length = 120
multi_line_mode = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_glob = ["*/venv/*", "*/.tox/*"]

[tool.ruff]
line-length = 120
target-version = "py312"

[tool.ruff.lint]
select = ["E", "F", "W", "I", "N"]
ignore = ["E501"]
